.main{
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0px;
    border: 1px solid green;
    background-color: green;
    width: 100%;
    height: 130px;
}

.navigation{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    padding-left: 100px;
}

.button {
    border: none;
    width: 250px;
    height: 70%;
    background: linear-gradient(to bottom, green 90%, white 10%);
    color: white;
    font: 25px/25px times;
}

.button:hover{
    border-left: 1px solid green;
    border-top: 1px solid green;
    border-right: 1px solid green;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: linear-gradient(to bottom, white 90%, green 10%);
    color: green;
}

.buttonActive{
    border: none;
    width: 250px;
    height: 70%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background: linear-gradient(to bottom, white 90%, green 10%);
    color: green;
    font: 25px/25px times;
}

.profile{
    display: flex;
    align-items: center;
    margin: 0 50px 0 0;
    padding-left: 5%;
    width: 25%;
    height: 100%;
   
}

.iconHolder {
    width: 40%;
    display: flex;
    justify-content: center;
}
.icon{
    background-color: #fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.icon:hover{
    width: 85px;
    height: 85px;
}

.icon img{
    width: 100%;
}

.userName{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 80px;
    color: white;
    font: italic 25px/30px times;
}

.mainBlockProfileContainerDown{
    position: absolute;
    width: 700px;
    height: 800px;
    background-color: green;
    top: -800px;
    right:0;
    animation-name: blockDown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 2;
}

@keyframes blockDown {
    from {
        top: -800px;
    } to {
        top: 125px;
    }
}

.mainBlockProfileContainerUp{
    position: absolute;
    width: 700px;
    height: 800px;
    background-color: green;
    top: 125px;
    right:0;
    animation-name: blockUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    z-index: 2;
    
}

@keyframes blockUp {
    from {
        top: 125px;
    } to {
        top: -800px;
    }
}