.mainBox{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px; 
    right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.imageBox{
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.line{
    height: 80%;
    border: 3px solid green;
    opacity: 0.5
}

.boxForForms{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}
